<!-- wp:template-part {"slug":"chrome","tagName":"div","className":"dsam-chrome-part"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}}} -->
	<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)">
		<!-- wp:post-title {"level":1,"style":{"typography":{"fontSize":"var(--wp--preset--font-size--xx-large)","fontFamily":"var(--wp--preset--font-family--heading)"},"color":{"text":"var(--wp--preset--color--primary)"}}} /-->

		<!-- wp:post-featured-image {"style":{"spacing":{"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|40"}},"border":{"radius":"var(--wp--custom--border-radius--default)"}}} /-->

		<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"div","className":"dsam-footer-part"} /-->
