<!-- wp:template-part {"slug":"chrome","tagName":"div","className":"dsam-chrome-part"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}}}} -->
	<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50)">
		<!-- wp:heading {"level":1,"style":{"typography":{"fontSize":"var(--wp--preset--font-size--xx-large)"},"color":{"text":"var(--wp--preset--color--primary)"}}} -->
		<h1 class="wp-block-heading" style="color:var(--wp--preset--color--primary);font-size:var(--wp--preset--font-size--xx-large)">Finalizar compra</h1>
		<!-- /wp:heading -->

		<!-- wp:woocommerce/checkout -->
		<div class="wp-block-woocommerce-checkout is-loading">
			<!-- wp:woocommerce/checkout-fields-block -->
			<div class="wp-block-woocommerce-checkout-fields-block">
				<!-- wp:woocommerce/checkout-express-payment-block /-->
				<!-- wp:woocommerce/checkout-contact-information-block /-->
				<!-- wp:woocommerce/checkout-shipping-address-block /-->
				<!-- wp:woocommerce/checkout-billing-address-block /-->
				<!-- wp:woocommerce/checkout-shipping-methods-block /-->
				<!-- wp:woocommerce/checkout-payment-block /-->
				<!-- wp:woocommerce/checkout-additional-information-block /-->
				<!-- wp:woocommerce/checkout-order-note-block /-->
				<!-- wp:woocommerce/checkout-terms-block /-->
				<!-- wp:woocommerce/checkout-actions-block /-->
			</div>
			<!-- /wp:woocommerce/checkout-fields-block -->

			<!-- wp:woocommerce/checkout-totals-block -->
			<div class="wp-block-woocommerce-checkout-totals-block">
				<!-- wp:woocommerce/checkout-order-summary-block /-->
			</div>
			<!-- /wp:woocommerce/checkout-totals-block -->
		</div>
		<!-- /wp:woocommerce/checkout -->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"div","className":"dsam-footer-part"} /-->
